<h1>{{title}}</h1>
<button (click)="useLanguage('en')">{{'languages.en' | translate}}</button>
<button (click)="useLanguage('hr')">{{'languages.hr' | translate}}</button>
<nav>
  <a routerLink="/heroes">{{'main.heroes' | translate}}</a>
  <a routerLink="/fizBuzz">Fiz-buzz</a>
  <a routerLink="/reverseNumber">{{'main.reverseNumber' | translate}}</a>
  <a routerLink="/gears">{{'main.bikeGears' | translate}}</a>
  <a routerLink="/draw">{{'main.draw' | translate}}</a>
  <a routerLink="/knjiznica">{{'main.knjiznica' | translate}}</a>
</nav>
<router-outlet></router-outlet>

